h1 {
    color: tomato; 
}

header {
     background-color: steelblue; color: tomato;
}

footer {
     background-color: steelblue; color: tomato;
}

 /* unvisited link */
a:link {
    color:tomato;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}